{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "18"
                },
                "useBuiltIns": false
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@api": "./src/api",
                    "@utils": "./src/utils",
                    "@middlewares": "./src/middlewares",
                    "@config": "./src/config",
                    "@core": "./src/core",
                    "@jobs": "./src/jobs"
                }
            }
        ]
    ]
}
